# Get these from your API settings: https://supabase.com/dashboard/project/_/settings/api
SUPABASE_ENV=production npx supabase@latest link --project-ref eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZuc2tmaGVnZmJ6amlkbHVlbWZqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDk0MTcxODksImV4cCI6MjA2NDk5MzE4OX0.QU-XNL6a44CzD1lr70ijL9G65wfq1hlXXX0ckMqeQhs
SUPABASE_ENV=production npx supabase@latest config push
SUPABASE_ENV=production npx supabase@latest db push
NEXT_PUBLIC_SUPABASE_URL=https://your-project.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-anon-key
# Get this from your Vercel project settings
NEXT_SITE_URL=https://<your-vercel-project>.<your-vercel-org-name>.vercel.app/
NEXT_REDIRECT_URLS=https://<your-vercel-project>*.vercel.app/,https://<your-vercel-project>*.vercel.app/**
